<div class="screen screen--no-bleed layour--center">
  <img class="image image--contain" src="https://raw.githubusercontent.com/aziac/trmnl-ghibli-backgrounds/main/data/Howls%20Moving%20Castle_11.png">
</div>
